.balloon-left {
  position: relative;
  display: inline-block;
  margin: 1.0em 0 1.0em 25px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #FFF;
  font-size: 16px;
  background: #70a6ff;
  box-sizing: border-box;
  border-radius: 8px;
}

.balloon-left:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #70a6ff;
}

.balloon-left:after{
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
}

.balloon-left p {
  margin: 0;
  padding: 0;
}
