.login-page {
  width: 400px;
}

.comment-new {
  width: 500px
}

#error_explanation {
  ul {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    list-style-type: none;
  }
}
