header {
  margin-bottom: 30px;
}

#logo, .header-item {
  margin-right: 20px;
}

.header-item {
  padding-top: 0.75em;
}

#logo {
  font-size: 1.8em;
  color: #545b62;
  letter-spacing: -1px;
  font-weight: 700;
}
